<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/dist/css/output.css">
	<script src="../static/js/index.js"></script>
	<script type="module" src="../static/js/firebase.js"></script>
</head>

<body class="bg-gray-900">
	<div>
		<h1 class="font-bold text-7xl bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text text-center">ProcrastiNot</h1>
		<div class="text-center text-white"> Welcome to ProcrastiNot, your ultimate destination for conquering procrastination and unlocking your full potential! 
			We understand the challenges of putting off tasks and the impact it can have on your productivity and well-being. That's why we've created a 
			unique platform dedicated to helping you break free from the grasp of procrastination.
			<div class="font-bold mt-10">Instructions:</div>
			<ul class="list-inside list-disc">
				<li class="text-white italic">Start: After pressing "Start", click the top left corner and bottom right corner of the page on your prefered text editor.
					This will take a screenshot of your text editor and will periodicly check for inacvity. So get to work!!
				</li>
				<li class="text-white italic">Stop: Hopefully you aren't procastinating and prehaps doing research, in that case press the "Stop" button and it will
					pause the periodic checks so you aren't flag for inactivity. (Be honest, don't cheat yourself!)
				</li>
				<li class="text-white italic">Resize: You may have clicked the same spot twice or didn't read what pressing "Start" did and messed up your bonds, it happens.
					No worries, you can redo your bounds by using the "Resize" button. (Remember top left corner and bottom right corner of your page)
				</li>
				
			</ul>	
		</div>
		<div class="mx-auto flex items-center min-h-screen max-w-screen-sm justify-center">
			<div class="flex h-36 w-full items-center bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500">
				<div class="flex item-center space-x-10 mx-44">
				<button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded">Start</button>
				<button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded">Stop</button>	
				<button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded">Resize</button>
				</div>
			</div>
		</div>
		<div class="flex justify-center mt-2 mx-48 h-96 border-4 font-mono text-xl border-black">History</div>
	</div>

</body>

</html>
